@page "{id:int?}"
@model Cinderella.Pages.Reviews.GiveReviewModel
@{
    ViewData["Title"] = "GiveReview";
}

<h1>Give Review for @Model.Shoe.Name</h1>

<h4>Shoe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" value="@Model.Id" name="id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Review.ReviewName" class="form-control" />
                <span asp-validation-for="Review.ReviewName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Review</label>
                <textarea asp-for="Review.ReviewWords" class="form-control" ></textarea>
                <span asp-validation-for="Review.ReviewWords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Shoes/Details" asp-route-id="@Model.Id">Back to Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
