@page
@model Cinderella.Areas.Identity.Pages.Account.Manage.ChangePasswordConfirmationModel
@{
    ViewData["Title"] = "PassWord Updated";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Your Password has successcully been changed.
    </p>
</div>