@page "{id:int?}"
@model Cinderella.Pages.Shoes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shoe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shoe.ShoeID" />
            <div class="form-group">
                <label asp-for="Shoe.Name" class="control-label"></label>
                <input asp-for="Shoe.Name" class="form-control" />
                <span asp-validation-for="Shoe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Image" class="control-label"></label>
                <input asp-for="Shoe.Image" class="form-control" readonly/>
                <br /><img src="~/images/@Html.DisplayFor(model => model.Shoe.Image)" width="500" alt="@Html.DisplayFor(model => model.Shoe.Image)" />
                <input type="file" name="uploadfiles"/>
                <span asp-validation-for="Shoe.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Description" class="control-label"></label>
                <input asp-for="Shoe.Description" class="form-control" />
                <span asp-validation-for="Shoe.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Price" class="control-label"></label>
                <input asp-for="Shoe.Price" class="form-control" />
                <span asp-validation-for="Shoe.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Manage">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
