@page
@model Cinderella.Pages.Shoes.GiveReviewModel
@{
    ViewData["Title"] = "GiveReview";
}

<h1>Give Review for @Model.Shoe.</h1>

<h4>Shoe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" value="@Model.Id" name="id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReviewDesc.ReviewName" class="control-label"></label>
                <input asp-for="ReviewDesc.ReviewName" class="form-control" />
                <span asp-validation-for="ReviewDesc.ReviewName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReviewDesc.ReviewWords" class="control-label"></label>
                <input asp-for="ReviewDesc.ReviewWords" class="form-control" />
                <span asp-validation-for="ReviewDesc.ReviewWords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Details" asp-route-id="@Model.Id">Back to Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
