@page
@model Cinderella.Pages.Shoes.testModel
@{
    ViewData["Title"] = "test";
}

<h1>test</h1>

<h1>ManageReviews</h1>

<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Review</th>
        </tr>
        @foreach (var reviews in Model.Reviews)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => reviews.ReviewName)
                </td>
                <td>
                    <div style="word-wrap: break-word;">
                        @Html.DisplayFor(modelItem => reviews.ReviewWords)
                    </div>
                </td>
                <td>
                    <button onclick="@Model.RemoveReview(reviews.ReviewID, reviews.ShoeID)">Click me</button>
                </td>
            </tr>
        }
    </table>
</dd>
