@page
@model PrivacyModel
@{
     ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<br />

<p>Having difficulties finding the perfect pair of shoes? Too expensive? Doesn't fit perfectly? Now you no longer have to worry! Cinderella is to the rescue!</p>

<h2 style="color:lightblue;">Our Aim</h2>
<p>We aim to give you your-to-go shoes that you can wear for any occassion which fits your budget and your size! </p>