@page
@model Cinderella.Pages.Fail_TransactionModel
@{
    ViewData["Title"] = "Fail Transaction";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        The payment was not successful, please try again. If the problem persist, you may contact us at Cinderellashoesg@gmail.com .
    </p>
    @*<p>@Model.e.</p>*@
</div>

