@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cinderella</h1>
    <h4>where you deserve the perfect shoe too!</h4>
    <br />
    <h4>
         <a asp-page="/About Us">About Us</a> |
         <a asp-page="/Shoes/Index">Shoes</a>
    </h4>
</div>

