@page
@model Cinderella.Pages.ManageModel
@{
    ViewData["Title"] = "Manage Website";
}

<h1>Website Management</h1>
<br />

<table class="table">
        <tr>
            <th>Shoes</th>
            <td><a asp-page="/Shoes/Manage">Manage</a></td>
        </tr>
        <tr>
            <th>Reviews</th>
            <td><a asp-page="/Reviews/">Manage</a></td>
        </tr>         
        <tr>
            <th>Role Listings</th>
            <td><a asp-page="/Roles/Index">Manage</a></td>
        </tr>
        <tr>
            <th>Audit Log</th>
            <td><a asp-page="/Audit/Index">View</a></td>
        </tr>
        <tr></tr>
</table>