@page
@model Cinderella.Pages.Shoe_GallaryModel
@{
    ViewData["Title"] = "Shoe_Gallary";
}

<div class="text-center shoe-text">
    Authentic Sneakers
</div>

<div class="idk" style="background-color:#d9d9d9;; height:500px; width:auto;">
    <div class="container-gallery">
        <div id="carousel">
            <figure><img src="~/images/Resize Photos/Jordan Delta.jpg" alt="Jordan Delta"></figure>
            <figure><img src="~/images/Resize Photos/Air Jordan 1 MID.jpg" alt="Air Jordan 1 MID"></figure>
            <figure><img src="~/images/Resize Photos/Air Jordan 6 Retro.jpg" alt="Air Jordan 6 Retro"></figure>
            <figure><img src="~/images/Resize Photos/Nike Air Max 270.jpg" alt="Air Max 270"></figure>
            <figure><img src="~/images/Resize Photos/Nike Air Max 97.jpg" alt="Air Max 97"></figure>
            <figure><img src="~/images/Resize Photos/Nike Mid '77 red.jpg" alt="Nike Mid 77"></figure>
            <figure><img src="~/images/Resize Photos/Nike X Converse.jpg" alt="Nike X Converse"></figure>
            <figure><img src="~/images/Resize Photos/Nike Zoom 2k.jpg" alt="Nike Zoom 2k"></figure>
        </div>
    </div>
</div>

<section class="wrap-3d">
    <div class="item-3d">
        <span class="ground"></span>
        <figure class="item-content group">
            <div class="item-img">
                <img src="~/images/remove bg shoes/Dior x Jordan.png" alt="" />
            </div>
            <figcaption class="item-caption">
                <p style="font-size:30px;"><b>Jordans X Dior</b></p>
                <p>
                    <strong>
                        For the Men’s Fall 2020 Runway show in Miami, Dior and Kim Jones partnered with Jordan Brand to unveil the limited-edition Air Jordan 1 High OG Dior sneaker.<br>
                        A collection of ready-to-wear and accessories completes the collaboration, and a low version of the Air Jordan 1 OG Dior rounds out the range.
                    </strong>
                </p>
                <p>
                    <a href="#" class="btn btn-secondary" style="text-decoration:none;">Buy now</a>
                </p>
            </figcaption>
        </figure>
    </div>

    <div class="item-3d">
        <span class="ground"></span>
        <figure class="item-content group">
            <div class="item-img">
                <img src="~/images/remove bg shoes/Air Jordans 1 (The Ten).png" alt="" />
            </div>
            <figcaption class="item-caption">
                <p style="font-size:30px;"><b>Off-White X Jordan</b></p>
                <p>
                    <strong>
                        The Off-White x Air Jordan 1 Retro High OG was one of the most highly anticipated footwear collaborations of 2017.<br>
                        It marked the first time Virgil Abloh, founder of the Milan-based fashion labled and Jordan Brand had teamed up.<br>
                    </strong>
                </p>
                <p>
                    <a href="#" class="btn btn-secondary" style="text-decoration:none;">Buy now</a>
                </p>
            </figcaption>
        </figure>
    </div>
    <div class="item-3d">
        <span class="ground"></span>
        <figure class="item-content group">
            <div class="item-img">
                <img src="~/images/remove bg shoes/Converse x Off-White (The Ten).png" alt="" />
            </div>
            <figcaption class="item-caption">
                <p style="font-size:30px;"><b>Converse X Off-White</b></p>
                <p>
                    <strong> The final pair of Virgil Abloh's 'The Ten' collection, the OFF-WHITE x Chuck Taylor All-Star 70 was released in May 2017 as part of the 'GHOSTING' pack.<br>
                    Featuring a translucent white upper and an ice-blue gradient on the sole, the shoe features bold lettering along its silhouette: "LEFT" and "RIGHT" on the toecaps, “VULCANIZED” over the midsole, “SHOELACES” on each lace, with Off-White's stamp on each side-panel.<br>
                    A red zip-tie hooked through the laces completes the look.</strong>
                </p>
                <p>
                    <a href="#" class="btn btn-secondary" style="text-decoration:none;">Buy now</a>
                </p>
            </figcaption>
        </figure>
    </div>
    <div class="item-3d">
        <span class="ground"></span>
        <figure class="item-content group">
            <div class="item-img">
                <img src="~/images/remove bg shoes/Airmax X Sean Wotherspoon.png" alt="" />
            </div>
            <figcaption class="item-caption">
                <p style="font-size:30px;"><b>Nike Air Max 97/1 X Sean Wotherspoon</b></p>
                <p>
                    <strong>
                        The Air Max 97/1 Sean Wotherspoon was originally part of a Nike design contest that Sean entered and ended up winning.<br>
                        Reportedly inspired by Sean’s love for vintage Nike hats from the 1980s, this shoe features both the upper of the Air Max 97 and the sole unit of the Air Max 1, a killer combo.<br>
                        The shoe also has a unique colorful corduroy upper with frayed edges, a truly one-of-a-kind look, with velour from toe to heel.
                    </strong>
                </p>
                <p>
                    <a href="#" class="btn btn-secondary" style="text-decoration:none;">Buy now</a>
                </p>
            </figcaption>
        </figure>
    </div>


</section>




