@page
@model Cinderella.Areas.Identity.Pages.Account.Success_PageModel
@{
    ViewData["Title"] = "Payment Success";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p>
        Thank you for your purchase. Check your email for your receipt of your purchase
    </p>
</div>
